
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<h1>Employee Travel Booking System</h1>

<style>
    body {
        margin: 0;
        font-family: Arial;
    }


    .topnav {
        overflow: hidden;
        background-color: aliceblue;
    }

        .topnav a {
            float: left;
            color: red;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            .topnav a:hover {
                background-color: white;
                color: black;
            }

            .topnav a:active {
                background-color: purple;
                color: yellow;
            }
</style>

<body>
    <div class="topnav">
        <a href="Travel">New Booking</a>
    </div>

    <div class="topnav">
        <a href="FilterSearch">Search by Travel ID</a>
    </div>


    <div class="topnav">
        <a href="FilterCancelView">Delete by Travel Id </a>
    </div>
</body>