
@{
    ViewBag.Title = "Index";
}

<h1>Employee Travel Booking System</h1>

<style>
    body{
        margin:0;
        font-family:Arial;
    }

    
    .topnav {
        overflow:hidden;
        background-color:aliceblue;

    }

    .topnav a {
        float:left;
        color:red;
        text-align:center;
        padding:14px 16px;
        text-decoration:none;
        

    }

    .topnav a:hover{
        background-color:white;
        color:black;
    }
     .topnav a:active{
        background-color:purple;
        color:yellow;
    }

</style>

<body>
    <div class="topnav">
        <a href="Login">Login</a>
    </div>

    <div class="topnav">
        <a href="Register">Register</a>
    </div>
</body>